@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Variables */
$default-logo-color: #E44D26;
$break-small: 40em;
/* Foundation Overrides */
.top-bar-section li:not(.has-form) a:not(.button){
	line-height: 4.3rem;
	@media screen {
		@media (max-width: $break-small){
			line-height: 2.3em;
		}
	}
}
/* Global Styles */
.fullwidth{
	width: 100% !important;
	max-width: 100% !important;
}
.section-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	opacity: 0.8;
	z-index: 2;
}
.section-header{
	font-weight: 300;
	font-size: 3.2em;
	color: #222;
	padding-bottom: 0.5em;
}
.no-padding-left-right{
	padding-left: 0px;
	padding-right: 0px;
}
.section-wrapper{
	position: relative;
	z-index: 3;
	max-width: 64.093em;
	min-width: 64.093em;
	margin: 0px auto;
	@media screen {
		@media (max-width: 64.093em){
			min-width: 100%;
			max-width: 100%;
		}
	}
	
}
.top-bar{
	border-bottom: 1px solid #EEE;
}
.landing-section{
	min-height: 95vh;
	background-image: url('../images/details.png');
	background-size: cover;
	position: relative;
	.section-overlay{
		background-color: $default-logo-color;
	}
	.landing-content{
		position: relative;
		z-index: 3;
	}
	h1{
		padding-top: 5em;
		font-size: 2.3em;
		color: #FFF;
	}
	h1,h3{
		font-weight: 300;
	}
}
.details-section{
	background-color: #E6E6E6;
	padding: 3em 0em;
	position: relative;
	/* .section-overlay{
		background-color: #F9F9F9;
		opacity: .92;
	} */
	.about-us{
		padding-bottom: 1em;
		font-size: 1.1em;
		color: #000;
	}
	.feature-item{
			h2{
				font-size: 2.2em;
				font-weight: 300;
				color: #222;
				padding-bottom: 10px;
			}
		}
		.description{
			color: #000;
		}
}
.sponsors-section{
	padding: 3em 0em 5em 0em;
	position: relative;
	.sponsor-list{
		padding: 1em 0em;
		&>div{
			float: left;
			padding: 10px 0px;
		}
		img{
			-moz-filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		a{
			transition: all ease 0.3s;
			height: 70px;
			&:hover{
				img{
					filter: grayscale(0%);
				}
			}
			
		}
	}
}
.footer-navigation-link{
	overflow: hidden;
	&.footer-in-speakers{
		img{
			z-index: 4;
		}
	}
	.footer-link{
		height: 180px;
		background-color: #F5F5F5;
		a{
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			text-transform: uppercase;
			height: 100%;
			position: relative;
			color: #FFF;
			font-size: 22px;
			font-weight: 300;
			&.tickets{
				background: linear-gradient(135deg, #E54624 0%, #E95D1E 100%) repeat scroll 0% 0% transparent;
			}
			&.schedule{
				background-image: url('../images/footer3.png');
				background-size: cover;
				span{
					z-index: 3;
					position: relative;
				}
			}
		}
		.section-overlay{
			background: linear-gradient(135deg, #E54624 0%, #E95D1E 100%) repeat scroll 0% 0% transparent;
			opacity: .95;
		}
	}
}
.speaker-section{
	background-color: #FFF;
	position: relative;
	padding: 6em 0em;
	.section-header{
		padding: 0em 1.2em 1em;
		@media screen {
			@media (max-width: $break-small){
				padding: 0em 0.5em;
			}
		}
	}
	.speaker-list{
		padding: 0em 3em;
		@media screen {
			@media (max-width: $break-small){
				padding: 1em 0.5em;
			}
		}
		&:after {
	    content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-color: #E6E6E6;
			display: block;
			top: 90px;
			bottom: 0px;
			left: 0px;
			right: 0px;
		}
	}
	.speaker-list-item{
		margin-bottom: 1.5em;
		z-index: 1;
		&>a{
			background-color: #FFF;
		}
		p{
			margin-bottom: 0.7em;
		}
		.section-heading{
			padding: 1em 0em;
		}
		.speaker-pic{
			height: auto;
		}
		img{
			width: 100%;
			height: 100%;
			filter: grayscale(100%);
		}
		.speaker-details{
			.name{
				font-weight: 300;
				color: #696969;
				padding-top: 10px;
				font-size: 22px;
			}
			.company{
				color: #999;
			}
			.description{
				font-size: 15px;
				color: #696969;
				padding-bottom: 1em;
			}
		}
	}
}
